.lagerContainer{
    width: 100%;

    .fullPage{
        height: 100vh;
        overflow: auto;
    }
    
    .noPadding{
        padding:0em;
    }

    h3{
        text-align: center;
    }
    //Virker ikke FIX!
    .ui-inputtext, .ui-table .ui-paginator-bottom{ 
        font-size: 10px !important; 
        }
}