.udContainer{
    width: 100%;

    .fullPage{
        height: 100vh;
        overflow: auto;
    }
    
    .noPadding{
        padding:0em;
    }

    h3{
        text-align: center;
    }

    .searchHeader{
        text-align: left;
    }
    .withBorders{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .withBorderTop{
        border-top: 1px solid black;
    }
}