<div class="appContainer">
  <div class="ui-g">
    <div class="ui-g-2 pageLogo"></div>
    <div class="ui-g-10 pageHeader">Norsetech</div>
    <div class="ui-g-2 pageMenu">
      <nav class="menuButton"><img class="menuLetter" src="assets/textures/runicLetters/runicH.png" /> <a routerLink="/home" routerLinkActive="active-link">Home</a></nav>
      <nav class="menuButton"><img class="menuLetter" src="assets/textures/runicLetters/runicL.png" /> <a routerLink="/lager" routerLinkActive="active-link"> Lager</a></nav>
      <nav class="menuButton"><img class="menuLetter" src="assets/textures/runicLetters/runicH.png" /><a routerLink="/udefineret" routerLinkActive="active-link">Hvad er relevant?</a></nav>
      <nav class="menuButton"><img class="menuLetter" src="assets/textures/runicLetters/runicH.png" /><a routerLink="/udefineret" routerLinkActive="activelink"> Hvad mere?</a></nav>
    </div>
    <div class="ui-g-10 pageView">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>